body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.overall_background {
  padding-top: 3vw;
  background-color: #050311;
  min-width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
img {
  width: 50vw;
}
.card_section {
  width: 80%;
  padding: 2vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2vw;
}
.card {
  padding: 2vw;
}
.card:hover {
  background-color: #2a2b36;
  border-radius: 0.3vw;
  /* transition: background-color 0.5s ease-in-out !important; */
}
.card:hover > p {
  color: rgb(200, 200, 200) !important;
  /* transition: color 0.5s ease-in-out !important; */
}
h2 {
  margin: 0;
  color: white;
  font-size: 1.5vw;
  font-weight: 400;
  letter-spacing: 1px;
}
p {
  margin: 0;
  margin-top: 1vw;
  line-height: 2vw;
  color: #5a5961;
  font-weight: 400;
  font-size: 1.2vw;
}

@media only screen and (max-width: 600px) {
  .overall_background {
    /* padding-top: 3vw; */
  }
  img {
    width: 90vw;
  }
  .card_section {
    width: 90%;
    display: flex;
    flex-direction: column;
  }
  h2 {
    font-size: 2.5vw;
  letter-spacing: 0.5px;

  }
  p {
    margin-top: 3vw;
    font-size: 2vw;
    font-weight: bold;
    line-height: 4vw;
  }
}



::-webkit-scrollbar {
    display: block !important;
  }
  ::-webkit-scrollbar {
    width: 1vw;
  }
  
  ::-webkit-scrollbar-track {
    background: #2a2b36;
  }
  
  ::-webkit-scrollbar-thumb {
    background:#5a5961;
  }
